.containerRegister {
  margin: 0 auto;
  width: 70%;
}

.copyright {
  display: inline-block;
  float: none;
}

/*Start Login Style*/
.registerForm {
  background-color: #fafafa;
  height: 100%;
  border-radius: 10px;
  padding: 60px 0px 30px 0px;
}

.registerForm h1 {
  margin-bottom: 40px;
  font-size: 2.5em;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  background-color: #eeeeef;
}
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
.registerForm span {
  float: left;
}
.registerForm a {
  float: right;
  text-decoration: none;
  color: #000;
}
.registerForm a:hover {
  color: #1aa3ff;
  cursor: pointer;
}
.registerForm button {
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: none;
  background-image: linear-gradient(130deg, #e55d87 15%, #5fc3e4 85%);
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
}

.registerForm button:hover {
  cursor: pointer;
}

.registerForm .copyright {
  display: inline-block;
  float: none;
}
